<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/__head') %>
  </head>

  <body class="">
    <!-- Header / Navbar -->
    <header class="navbar-space"><%- include('partials/__header') %></header>

    <div
      class="fb-box-shadow rounded-corners p-2 p-sm-4 text-center text-md-start"
    >
      <!-- Add a Company -->
      <div class="container">
        <div class="row">
          <div class="col col-12">
            <h1 class="text-center m-4">Add a Company</h1>
          </div>
        </div>
        <hr />
      </div>
      <form action="/company/addCompany" method="POST">
        <!-- Job Description -->
        <div class="container align-items-center">
          <div class="row text-start">
            <!-- Company Section -->
            <div class="col col-12">
              <h3 class="text-center m-4">Company Info</h3>
            </div>
            <div class="row gap-3 mb-3">
              <!-- company name -->
              <div class="col-md">
                <label class="d-block" for="companyName"
                  >Company: <span style="color: red">*</span></label
                >
                <input
                  class="w-100 form-control"
                  type="text"
                  placeholder="Company Name"
                  id="companyName"
                  name="companyName"
                  required
                />
              </div>
              <!-- company website -->
              <div class="col-md">
                <label for="url">Company Website</label>
                <input
                  class="w-100 form-control"
                  type="text"
                  placeholder="URL"
                  id="url"
                  name="url"
                />
              </div>
            </div>
            <!-- company description -->
            <div class="row gap-3 mb-3">
              <div class="col-md">
                <label for="companyDescription">Company Description:</label>
                <textarea
                  class="w-100 form-control"
                  type="text"
                  placeholder="Company Description"
                  id="companyDescription"
                  name="companyDescription"
                  rows="3"
                ></textarea>
              </div>
            </div>
            <!-- comments -->
            <div class="row gap-3 mb-3">
              <div class="col-md">
                <label for="comments">Comments:</label>
                <textarea
                  class="w-100 form-control"
                  type="text"
                  placeholder="Comments"
                  id="comments"
                  name="comments"
                  rows="3"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        

        <!-- Submit Section -->

        <div class="row">
          <div class="col col-12 text-center">
            <button type="reset" class="btn btn-light m-2">Reset Form</button>
            <a class="btn btn-outline-dark m-2" href="/company" role="button"
              >Cancel</a
            >
            <button type="submit" class="btn btn-primary m-2">Submit</button>
          </div>
        </div>
      </form>
    </div>

    <hr />

    <!-- Footer -->
    <%- include('partials/__footer') %>

    <!-- <script src="js/main.js"></script> -->
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
