<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/__head') %>
  </head>

  <!-- Header / Navbar -->
  <header class="navbar-space"><%- include('partials/__header') %></header>

  <body class="">
    <!-- Cut>Format>Paste the ul to format with prettier -->
    <!-- TODO: look into EJS formatting -->

    <!-- button to add a company -->
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <h2 class="text-center m-4">Companies</h2>
        </div>
      </div>

      <!-- list of companies in card format -->
      <div><%- include('partials/__card') %></div>

      <hr />
      <!-- LogOut Button -->
      <a
        href="/logout"
        class="btn btn-lg btn-danger btn-block m-2 d-flex justify-content-center w-25 mx-auto"
        role="button"
        >Logout</a
      >
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script src="js/companies.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
